<div class="container">
  <div class="card">
    <h2><%= @restaurant.name %></h2>
  </div>

  <div class="card">
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.category.capitalize %></p>
    <p><%= @restaurant.phone_number %></p>
  </div>
</div>
